* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.front-bg {
	background: #000 none repeat scroll 0 0;
    position: fixed;
	width: 200%;
	height: 200%;
   }

.front-bg img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    right: 0;
    top: 0;
}

nav {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0; 
    position:fixed;
    height: auto;
    width: 100%;
    z-index: 100;
}

.nav_left {
	float: left;
	margin-left: 10px;
}

a {
	display: block;
    text-decoration: none;
    color: black;
    margin-top: 0;
   }
   
a: visited {
	display: block;
    text-decoration: none;
    color: black;
 }

.nav_right {
	float: right;
	margin-right: 30px;
	list-style-type: none;
}

.nav_left li {
	display: inline-block;
	list-style-type: none;
	padding: 20px;
}

.nav_left li:hover {
	background-color: #99FFCC;
}

.nav_right li {
	padding: 20px;
}

.nav_right ul {
	position: absolute;
	visibility: hidden;
	top: 40px;
	left: 87%;
}

.nav_right ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dropdown li a{
	text-align:center;
	text-decoration:none;
	height:30px;
	width:150px;
	display:block;
	color:#000066;
	padding-top:7px;
	background: #FFFFFF;
	border: 1px solid black;
}

.nav_right li:hover ul {
	visibility:visible;
}

.box {
	border-radius: 4px;
	background: rgba(240, 240, 240, .9);
	width: 900px;
	margin: 20px auto;
	padding: 20px;
	position: relative;
	top: 100px;
	margin-top: 0px !important;
}

.bt-wrap {
	margin: 20px auto;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.qs-button1 {
	background-color: #66CCFF;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    padding: 10px 50px;
    margin: 10px;
}

.qs-button2 {
	background-color: #3399FF;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    padding: 10px 50px;
    margin: 10px;
}
